.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 15px;
  background-color: antiquewhite;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.card-footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(199, 107, 107, 0.5);
  padding: 0.75rem;
  border-radius: 8px;
  gap: 0.5rem;
}

.card-price {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.card img {
  width: 100%;
  aspect-ratio: 488 / 680;
  object-fit: cover;
  align-self: center;
}

.quantity-selection {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.quantity-selection button {
  width: 2rem;
  height: 2rem;
  background-color: #c94433;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .quantity-selection button:hover {
  background-color: #0056b3;
} */

.quantity-selection input {
  width: 60px;
  height: 2.5rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
}

/* Remove spinner arrows from number input */
.quantity-selection input::-webkit-outer-spin-button,
.quantity-selection input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-selection input[type="number"] {
  -moz-appearance: textfield;
}

.card > button {
  width: 100%;
  padding: 0.75rem;
  background-color: #20c997; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.card > button:hover {
  background-color: #218838; 
}