html {
  scrollbar-gutter: stable;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.layout-content {
  flex: 1;
}

.layout.bg-homepage {
  background-image: url("../assets/homepage-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.layout.bg-shopping-page {
  background-image: url("../assets/shoppingpage-background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.layout.bg-cart-page {
  background-image: url("../assets/cartpage-background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
