.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.layout-content{
    flex: 1;
}

.layout.bg-homepage {
  background-image: url('../assets/homepage-background.jpg');
  background-position: center;
}

.layout.bg-shopping-page {
  background-image: url('../assets/shoppingpage-background.jpg');
  background-position: center;
}

.layout.bg-cart-page {
  background-image: url('../assets/cartpage-background.png');
  background-position: center;
}