.navbar {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  background-color: rgb(252, 242, 242);
}

.logo {
  height: 50px;
  width: auto;
  padding: 0.5rem;
}
.navbar-left {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.nav-links li {
  display: inline;
}

.cart-badge {
  display: inline-block;
  background-color: #1a702d;
  color: black;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
}
