.navbar {
  /* position: fixed; */
  border: solid black 1px;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  /* padding: 1rem; */
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  /* width: 5rem; */
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.nav-links li {
  /* padding: 2rem; */
  display: inline;
}
